

<section class="max-w-8xl pt-16 mx-auto container bg-white">
  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/3 px-4 md:px-2 lg:px-6 py-10 flex items-center">
      <%= image_tag @about_page.top_image, class: "rounded"   %>
    </div>
    <div class="flex flex-col justify-center w-full md:w-2/3 px-4 md:pr-12">
      <div class="pl-4">
        <h3 class="text-4xl font-bold leading-tight text-gray-800"><%= @about_page.top_title %></h3>
        <p class="text-xl text-gray-600 leading-normal pt-4">
          <%= @about_page.top_description  %>
        </p>
        <button class="my-8 lg:mb-0 bg-siteblue-500 transition duration-150 ease-in-out hover:bg-siteblue-600 focus:outline-none rounded text-white px-8 py-4 text-xl">get started</button>
      </div>
    </div>
  </div>
</section>





<div class="container mx-auto pt-16">
  <div class="pb-12">
    <h1 class="text-3xl xl:text-5xl font-extrabold text-gray-800 mx-auto text-center xl:text-left pb-4">Scholarship Recipients</h1>
    <p class="text-xl text-gray-600 xl:w-3/4 w-11/12 mx-auto xl:mx-0 text-center sm:text-left">

    </p>
  </div>
  <section id="carousel">
    <figure class="visible">
      <div class="flex flex-wrap justify-around">
        <div class="xl:w-1/3 lg:w-5/12 w-11/12 sm:w-3/5 md:w-5/12 xl:pb-0 pb-12">
          <div class="shadow-lg mx-3 xl:mx-3 sm:mx-0 lg:mx-0 rounded">
            <div class="bg-siteBlue-500 pt-6 pb-6 pl-6 rounded-tl rounded-tr">
              <p class="text-xl text-white pb-1"><%= @about_page.scholar1_name %></p>
              <p class="text-base text-siteBlue-200"><%= @about_page.scholar1_major %> , <%= @about_page.scholar1_grad_year %></p>
            </div>
            <div class="pl-6 pr-6 pt-10 relative h-64">
              <div class="h-16 w-16 rounded-full bg-cover border-4 border-white absolute top-0 right-0 -mt-8 mr-6">
                <%= image_tag @about_page.scholar1_image,   alt:"Scholarship Recipient", class: "h-full w-full object-cover rounded-full overflow-hidden" %>
              </div>

              <p class="text-base text-gray-600 leading-8"><%= @about_page.scholar1_testimonial %></p>
              <div class="flex justify-end mt-2">
                <svg width="44" height="37" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.432 0c-2.339 0-4.329.821-5.97 2.463C.82 4.105 0 6.093 0 8.429c0 2.335.82 4.324 2.462 5.966 1.641 1.642 3.631 2.463 5.97 2.463 2.113 0 3.386.84 3.82 2.518.434 1.678.217 3.54-.65 5.583-.868 2.043-2.32 3.904-4.358 5.582C5.206 32.22 2.792 33.06 0 33.06V37c5.018 0 9.196-1.925 12.535-5.774 3.34-3.85 5.518-8.083 6.537-12.699 1.018-4.616.726-8.857-.878-12.725C16.591 1.934 13.337 0 8.432 0zm24.335 0c-2.34 0-4.33.821-5.97 2.463-1.642 1.642-2.462 3.63-2.462 5.966 0 2.335.82 4.324 2.462 5.966 1.64 1.642 3.63 2.463 5.97 2.463 2.113 0 3.396.84 3.848 2.518.453 1.678.236 3.54-.65 5.583-.887 2.043-2.34 3.904-4.358 5.582-2.019 1.679-4.443 2.518-7.272 2.518V37c5.018 0 9.196-1.925 12.535-5.774 3.339-3.85 5.518-8.083 6.536-12.699 1.02-4.616.727-8.857-.877-12.725C40.926 1.934 37.672 0 32.767 0z" fill="#667EEA" fill-rule="evenodd" fill-opacity=".15" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="xl:w-1/3 lg:w-5/12 w-11/12 sm:w-3/5 md:w-5/12 xl:pb-0 pb-12">
          <div class="shadow-lg mx-3 xl:mx-3 sm:mx-0 lg:mx-0 rounded">
            <div class="bg-siteBlue-500 pt-6 pb-6 pl-6 rounded-tl rounded-tr">
              <p class="text-xl text-white pb-1"><%= @about_page.scholar2_name %></p>
              <p class="text-base text-siteBlue-200"><%= @about_page.scholar2_major %> , <%= @about_page.scholar2_grad_year %></p>
            </div>
            <div class="pl-6 pr-6 pt-10 relative h-64">
              <div class="h-16 w-16 rounded-full bg-cover border-4 border-white absolute top-0 right-0 -mt-8 mr-6">
                <%= image_tag @about_page.scholar2_image,   alt:"Scholarship Recipient", class: "h-full w-full object-cover rounded-full overflow-hidden" %>
              </div>

              <p class="text-base text-gray-600 leading-8"><%= @about_page.scholar2_testimonial %></p>
              <div class="flex justify-end mt-2">
                <svg width="44" height="37" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.432 0c-2.339 0-4.329.821-5.97 2.463C.82 4.105 0 6.093 0 8.429c0 2.335.82 4.324 2.462 5.966 1.641 1.642 3.631 2.463 5.97 2.463 2.113 0 3.386.84 3.82 2.518.434 1.678.217 3.54-.65 5.583-.868 2.043-2.32 3.904-4.358 5.582C5.206 32.22 2.792 33.06 0 33.06V37c5.018 0 9.196-1.925 12.535-5.774 3.34-3.85 5.518-8.083 6.537-12.699 1.018-4.616.726-8.857-.878-12.725C16.591 1.934 13.337 0 8.432 0zm24.335 0c-2.34 0-4.33.821-5.97 2.463-1.642 1.642-2.462 3.63-2.462 5.966 0 2.335.82 4.324 2.462 5.966 1.64 1.642 3.63 2.463 5.97 2.463 2.113 0 3.396.84 3.848 2.518.453 1.678.236 3.54-.65 5.583-.887 2.043-2.34 3.904-4.358 5.582-2.019 1.679-4.443 2.518-7.272 2.518V37c5.018 0 9.196-1.925 12.535-5.774 3.339-3.85 5.518-8.083 6.536-12.699 1.02-4.616.727-8.857-.877-12.725C40.926 1.934 37.672 0 32.767 0z" fill="#667EEA" fill-rule="evenodd" fill-opacity=".15" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="xl:w-1/3 lg:w-5/12 w-11/12 sm:w-3/5 md:w-5/12 xl:pb-0 pb-12">
          <div class="shadow-lg mx-3 xl:mx-3 sm:mx-0 lg:mx-0 rounded">
            <div class="bg-siteBlue-500 pt-6 pb-6 pl-6 rounded-tl rounded-tr">
              <p class="text-xl text-white pb-1"><%= @about_page.scholar3_name %></p>
              <p class="text-base text-siteBlue-200"><%= @about_page.scholar3_major %> , <%= @about_page.scholar3_grad_year %></p>
            </div>
            <div class="pl-6 pr-6 pt-10 relative h-64">
              <div class="h-16 w-16 rounded-full bg-cover border-4 border-white absolute top-0 right-0 -mt-8 mr-6">
                <%= image_tag @about_page.scholar3_image,   alt:"Scholarship Recipient", class: "h-full w-full object-cover rounded-full overflow-hidden" %>
              </div>

              <p class="text-base text-gray-600 leading-8"><%= @about_page.scholar3_testimonial %></p>
              <div class="flex justify-end mt-2">
                <svg width="44" height="37" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.432 0c-2.339 0-4.329.821-5.97 2.463C.82 4.105 0 6.093 0 8.429c0 2.335.82 4.324 2.462 5.966 1.641 1.642 3.631 2.463 5.97 2.463 2.113 0 3.386.84 3.82 2.518.434 1.678.217 3.54-.65 5.583-.868 2.043-2.32 3.904-4.358 5.582C5.206 32.22 2.792 33.06 0 33.06V37c5.018 0 9.196-1.925 12.535-5.774 3.34-3.85 5.518-8.083 6.537-12.699 1.018-4.616.726-8.857-.878-12.725C16.591 1.934 13.337 0 8.432 0zm24.335 0c-2.34 0-4.33.821-5.97 2.463-1.642 1.642-2.462 3.63-2.462 5.966 0 2.335.82 4.324 2.462 5.966 1.64 1.642 3.63 2.463 5.97 2.463 2.113 0 3.396.84 3.848 2.518.453 1.678.236 3.54-.65 5.583-.887 2.043-2.34 3.904-4.358 5.582-2.019 1.679-4.443 2.518-7.272 2.518V37c5.018 0 9.196-1.925 12.535-5.774 3.339-3.85 5.518-8.083 6.536-12.699 1.02-4.616.727-8.857-.877-12.725C40.926 1.934 37.672 0 32.767 0z" fill="#667EEA" fill-rule="evenodd" fill-opacity=".15" />
                </svg>
              </div>
            </div>
          </div>
        </div>

      </div>
    </figure>

  </section>

</div>


