<section class="py-6" >

    <div class="container lg:flex lg:flex-row-reverse mx-auto px-6 py-6 lg:py-12">
      <%= image_tag @home_page.hero_image, :class => "object-contain lg:object-cover  rounded-md w-full lg:w-1/2 h-full mb-8 lg:mb-0"  %>
      <div class="w-full md:w-2/3 lg:w-1/2 z-10 ">


        <span class="text-3xl lg:text-4xl xl:text-5xl leading-tight font-bold"><%= @home_page.hero_title %></span>
        <h1 class="text-base leading-snug text-gray-700 mt-4 md:w-1/2 lg:w-11/12">
          At Memories 2 Digital we're experts at helping protect your precious memories with our range of professional scanning services.
        </h1>
        <a href="/photo-scanning/" class="w-full block sm:inline-block sm:w-auto px-6 py-4 bg-blue-600 text-white rounded-lg mt-8">Photo Scanning</a>
        <a href="/slide-scanning/" class="w-full block sm:inline-block sm:w-auto px-6 py-4 bg-blue-600 text-white rounded-lg mt-8 md:ml-4">Slide Scanning</a>
      </div>

    </div>



</section>



<section class="bg-siteOrange-100 py-8">
  <div class="flex flex-col sm:flex-row items-stretch mb-8 sm:mb-16 container mx-auto">
    <div class="w-full sm:w-1/2 relative h-64 sm:h-auto">
      <%= image_tag @home_page.about_image, :class => "w-full object-cover absolute inset-0 object-center h-full"  %>

    </div>
    <div class="container mx-auto w-full sm:w-1/2 py-8 sm:py-16 lg:py-32 px-6 sm:px-12 lg:px-24 bg-gray-100">
      <h3 class="text-gray-800 text-2xl mb-3 leading-normal tracking-normal font-bold"><%= @home_page.about_section_title %></h3>
      <p class="text-gray-600 leading-6 font-normal tracking-normal mb-6"><%= @home_page.about_section_description %></p>
      <button class="focus:outline-none rounded py-3 px-4 text-black border border-siteBlue-700 flex justify-center items-center text-white bg-siteBlue-500 hover:bg-siteBlue-400 bg-transparent">Learn More</button>
    </div>
  </div>

</section>