<!DOCTYPE html>
<html>

<head>
    <title>Foundation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


    <div class="relative flex ">


        <%= render partial: "layouts/sidebar" %>
        <div class="w-full">
        <%= render partial: "layouts/navigation" %>
          <% flash.each do |type, msg| %>

            <% if type == 'notice' %>
              <%= render partial: '/manager/flashSuccess', locals: {message: msg} %>
            <%end %>

            <% if type == 'alert' %>
            <% end %>

          <% end %>
            <!-- Remove class [ h-64 ] when adding a card block -->
            <div class="container mx-auto py-10 min-h-screen md:w-4/5 w-11/12 px-6 z-0">


                <!-- Remove class [ border-dashed border-2 border-gray-300 ] to remove dotted border -->
                <div class="w-full h-full ">
                    <!-- Place your content here -->
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>



</body>

</html>